// intro
#intro {
  .intro-text01 {
    margin-top:55px;
    text-align:center;
    dl {
      padding-top:130px;
      background:url("../images/intro_icon01.png") no-repeat center 0;
      strong {
        color:$color-point;
        font-weight:700;
      }
      dt {
        color:$color-text;
        font-size:rem(44);
        em {
          font-weight:700;
        }
        em {
          color:#367dbf;
        }
      }
      dd {
        margin-top:25px;
        color:#3b3b3b;
        font-size:rem(20);
        line-height:1.5;
      }
    }
  }
  .intro-subject {
    height:405px;
    margin-top:80px;
    background:url("../images/intro_bg01.jpg") no-repeat center center;
    background-size:cover;
    > ul {
      display:flex;
      justify-content: center;
      padding-top:50px;
      > li {
        width:320px;
        color:$color-text;
        text-align:center;
        .icon {
          position:relative;
          display:inline-block;
          width:128px;
          height:128px;
          background-color:#fff;
          border-radius: 50%;
          img {
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
          }
        }
        .tit {
          margin:15px 0;
          font-size:rem(27);
          font-weight:700;
        }
        li {
          font-size:rem(16);
          line-height:1.8;
        }
      }
    }
  }
  .intro-member {
    max-width:990px;
    margin:0 auto;
    padding-bottom:100px;
    color:$color-text;
    > li {
      margin-top:100px;
      .name {
        font-size:rem(18);
        font-weight:100;
        line-height:1.6;
        strong {
          display:block;
          font-size:rem(30);
          font-weight:700;
        }
      }
      > ul {
        display:flex;
        margin-top:40px;
        > li {
          flex:1;
          .tit {
            position:relative;
            margin-bottom:15px;
            padding-left:10px;
            font-size:rem(22);
            font-weight:700;
            &:before {
              content:'';
              display:block;
              position:absolute;
              top:4px;
              left:0;
              width:5px;
              height:21px;
              background-color:#5b8ec2;
            }
          }
          ul {
            li {
              font-size:rem(16);
              line-height:1.5;
            }
            & + ul {
              margin-top:25px;
            }
          }
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .intro-text01 {
      margin-top:35px;
      dl {
        padding-top:75px;
        background-size:auto 42px;
        dt {
          font-size:rem(23);
        }
        dd {
          margin-top:15px;
          font-size:rem(10);
        }
      }
    }
    .intro-subject {
      height:168px;
      margin-top:40px;
      background-image:url("../images/intro_bg_m01.jpg");
      > ul {
        padding:25px 10px 0 10px;
        > li {
          width:33.333%;
          .icon {
            width:48px;
            height:48px;
            img {
              width:54%;
            }
          }
          .tit {
            margin:4px 0;
            font-size:rem(10);
          }
          li {
            font-size:rem(8);
            line-height:1.4;
            letter-spacing: -1px;
          }
        }
      }
    }
    .intro-member {
      padding:0 0 0 10%;
      > li {
        margin-top:40px;
        .name {
          font-size:rem(9);
          strong {
            font-size:rem(15);
          }
        }
        > ul {
          flex-flow:column;
          margin-top:20px;
          > li {
            flex:1;
            & + li {
              margin-top:20px;
            }
            .tit {
              margin-bottom:8px;
              padding-left:5px;
              font-size:rem(10);
              &:before {
                top:2px;
                width:3px;
                height:11px;
              }
            }
            ul {
              li {
                font-size:rem(9);
              }
              & + ul {
                margin-top:15px;
              }
            }
          }
        }
      }
    }
  }
}

// subject
#subject {
  .subject-list {
    // display:flex;
    // flex-wrap:wrap;
    overflow: hidden;
    > li {
      float:left;
      display:flex;
      align-items: flex-start;
      width:50%;
      margin-top:135px;
      .text-area {
        padding-left:30px;
        .tit {
          padding-bottom:7px;
          color:$color-point;
          font-size:rem(27);
          font-weight:700;
          line-height:1.3;
        }
        > ul {
          > li {
            margin-top:8px;
            color:$color-text;
            font-size:rem(16);
            font-weight:700;
            ul {
              padding-top:3px;
              li {
                line-height:1.6;
              }
            }
          }
        }
      }

      &:last-child {
        flex:1;
        width:100%;
        .text-area {
          display:flex;
          flex-wrap:wrap;
          .tit {
            width:100%;
          }
          ul + ul {
            margin-left:35px;
          }
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .subject-list {
      flex-flow:column;
      padding:0 18px;
      > li {
        width:100%;
        margin-top:35px;
        padding-top:37px;
        border-top:1px solid #ebebeb;
        &:first-child {
          margin-top:0;
          border-top:none;
        }
        .image {
          width:46%;
          img {
            width:100%;
          }
        }
        .text-area {
          padding-left:15px;
          .tit {
            padding-bottom:3px;
            font-size:rem(15);
          }
          > ul {
            > li {
              margin-top:7px;
              font-size:rem(10);
              ul {
                padding-top:2px;
              }
            }
          }
        }
  
        &:last-child {
          .text-area {
            display:block;
            .tit {
              width:100%;
            }
            ul + ul {
              margin-left:0;
            }
          }
        }
      }
    }
  }
}

// infra
#infra {
  .infra-list {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:0 20px 0 20px;
    li {
      width:32%;
      margin-top:24px;
      @include fontNone;
      a {
        display:block;
        img {
          width:100%;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .infra-m-box {
      padding:35px 24px 0 24px;
      .image-active {
        padding:0 2px;
        @include fontNone;
        img {
          width:100%;
        }
      }
      .infra-m-list {
        margin-top:5px;
        li {
          p {
            display:block;
            margin:0 2px;
            img {
              width:100%;
            }
          }
        }
        .slick-current {
          li {
            p {
              position:relative;
              &:before,
              &:after {
                content: '';
                position:absolute;
                width:3px;
                top:0;
                bottom:0;
                background-color:$color-point;
              }
              &:before {
                left:0;
              }
              &:after {
                right:0;
              }
              span {
                &:before,
                &:after {
                  content: '';
                  position:absolute;
                  height:3px;
                  left:0;
                  right:0;
                  background-color:$color-point;
                }
                &:before {
                  top:0;
                }
                &:after {
                  bottom:0;
                }
              }
            }
          }
        }
        .slick-dots {
          display:flex !important;
          height:5px;
          margin:5px 2px 0;
          background-color:#d9d9d9;
          border-radius:10px;
          li {
            flex:1;
            padding:0;
            @include fontNone;
            button {
              padding:0;
              background-color:none;
              border:none;
              @include fontNone;
            }
            &.slick-active {
              background-color:$color-point;
              border-radius:10px;
            }
          }
        }
      }
    }
  }
}

// location
#location {
  .location-info {
    margin-top:60px;
    padding-bottom:100px;
    .info {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      width:100%;
      margin-top:62px;
      > li {
        width:560px;
        min-height:178px;
        padding:30px 0 0 0;
        border-top:1px solid #ebebeb;
        @include fontNone;
         * {
          text-indent: 0;
        }
        .tit {
          color:$color-point;
          font-size:rem(27);
          font-weight:700;
          span {
            position:relative;
            display:inline-block;
            width:38px;
            height:38px;
            margin:-2px 5px 0 0;
            background-color:#d0efff;
            border-radius: 50%;
            vertical-align: middle;
            img {
              position:absolute;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .text-1 {
          margin-top:15px;
          color:#000;
          font-size:rem(20);
          line-height:1.2;
        }
        .text-2 {
          margin-top:6px;
          color:#727272;
          font-size:rem(20);
          line-height:1.2;
          span {
            position:relative;
            margin-right:6px;
            padding-right:14px;
            font-weight:500;
            &:after {
              content:'';
              display:block;
              position:absolute;
              top:50%;
              right:0;
              width:1px;
              height:17px;
              background-color:#727272;
              transform: translateY(-50%);
            }
          }
        }
        .use-list {
          display:flex;
          margin-top:25px;
          li {
            position:relative;
            margin-left:28px;
            padding-left:24px;
            color:#000;
            font-size:rem(17);
            text-align:center;
            > span {
              display:flex;
              width:100%;
              justify-content: center;
              align-items: center;
              height:60px;
            }
            &:before {
              content:'';
              display:block;
              position:absolute;
              top:50%;
              left:0;
              width:1px;
              height:31px;
              background-color:#d9d9d9;
              transform: translateY(-50%);
            }
            &:first-child {
              margin-left:0;
              padding-left:0;
              &:before {
                display: none;
              }
            }
          }
        }
        .operator-list {
          margin-top:20px;
          li {
            color:#545454;
            font-size:rem(20);
            line-height:1.5;
            span {
              position:relative;
              display:inline-block;
              width:104px;
              font-weight:500;
              margin-right:10px;
              &:after {
                content:'';
                display:block;
                position:absolute;
                top:50%;
                right:0;
                width:1px;
                height:17px;
                background-color:#545454;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .title-type-1.loca-st {
      margin-top:15px;
      strong {
        display:block;
      }
    }
    .location-info {
      margin-top:30px;
      padding:0 16px 30px;
      .map {
        height:190px;
        img {
          width:100%;
          height:190px;
          object-fit: cover;
        }
      }
      .info {
        flex-wrap:wrap;
        flex-flow:column;
        margin-top:15px;
        > li {
          width:100%;
          min-height:0;
          margin-top:14px;
          padding:0 0 15px 0;
          border-top:none;
          border-bottom:1px solid #ebebeb;
          .tit {
            font-size:rem(13);
            span {
              width:15px;
              height:15px;
              margin:-2px 2px 0 0;
              @include fontNone;
              img {
                height:70%;
              }
            }
          }
          .text-1 {
            margin-top:10px;
            font-size:rem(10);
          }
          .text-2 {
            margin-top:3px;
            font-size:rem(10);
            span {
              margin-right:4px;
              padding-right:7px;
              &:after {
                height:9px;
              }
            }
          }
          .use-list {
            margin-top:12px;
            li {
              margin-left:13px;
              padding-left:13px;
              font-size:rem(9);
              > span {
                height:30px;
                img {
                  transform: scale(0.5);
                }
              }
              &:before {
                height:15px;
              }
            }
          }
          .operator-list {
            margin-top:10px;
            li {
              font-size:rem(10);
              span {
                width:52px;
                margin-right:3px;
                &:after {
                  height:9px;
                }
              }
            }
          }
        }
      }
    }
  }
}