// intro
#main {
  margin:-105px 0 -200px;
  > div {
    height:100vh;
  }

  .container {
    height:100%;
    padding-top:105px;
  }

  .main-title-1 {
    color:#313131;
    font-size:rem(48);
    line-height:1.2;
    letter-spacing: -2px;
    text-align:center;
    span {
      display:block;
      margin-bottom:8px;
      font-size:rem(12);
      font-weight:500;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    strong {
      font-weight:700;
    }
  }

  .text-box {
    display:flex;
    flex-flow:column;
    justify-content: center;
    height:100%;
  }

  // intro
  [data-section-name='intro'] {
    background:url("../images/main_bg01.jpg") no-repeat center center;
    background-size:cover;
    .text-box {
      color:#3b3b3b;
      .text01 {
        font-size:rem(55);
        font-weight:300;
        line-height:1.2;
        strong {
          color:#00326f;
          font-weight:700;
        }
      }
      .text02 {
        margin-top:20px;
        font-size:rem(20);
        line-height:1.5;
        strong {
          color:#2473a3;
          font-weight:700;
          text-decoration: underline;
        }
      }
      .tel {
        margin-top:40px;
        a {
          display:inline-block;
          width:370px;
          height:88px;
          line-height:88px;
          padding:0 0 0 65px;
          color:#fff;
          font-size:rem(26);
          background:#2676a5 url("../images/main_icon01.png") no-repeat 19px center;
          strong {
            position:relative;
            margin-left:3px;
            padding-left:10px;
            font-weight:700;
            &:before {
              content:'';
              display:block;
              position:absolute;
              top:50%;
              left:0;
              width:1px;
              height:19px;
              background-color:#fff;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    .arrow {
      display:block;
      position:absolute;
      bottom:0;
      left:50%;
      transform: translateX(-50%);
      width:52px;
      height:52px;
      background:url("../images/main_icon_down.png") no-repeat center center;
      @include fontNone;
    }
  }

  // subject
  [data-section-name='subject'] {
    .container {
      .main-title-1 {
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-360px;
        transform: translateX(-50%);
      }
    }

    .subject-guide {
      display:flex;
      width:100%;
      height:100%;
      border-top:1px solid #ebebeb;
      border-bottom:1px solid #ebebeb;
      border-right:1px solid #ebebeb;
      > li {
        flex:1;
        display:flex;
        flex-flow:column;
        align-items: center;
        justify-content: center;
        height:100%;
        padding-top:10%;
        border-left:1px solid #ebebeb;
        .tit {
          margin-top:15px;
          color:#333;
          font-size:rem(28);
          font-weight:700;
        }
        ul {
          height:225px;
          margin-top:45px;
          text-align:center;
          li {
            font-size:rem(18);
            font-weight:500;
            line-height:1.75;
          }
        }
        .more {
          a {
            display:inline-block;
            padding-left:23px;
            color:#000;
            font-size:rem(16);
            font-weight:500;
            line-height:1.2;
            background:url("../images/main_icon_arrow.png") no-repeat 0 center;
          }
        }
      }
    }
  }

  // infra
  [data-section-name='infra'] {
    background:url("../images/main_bg02.jpg") no-repeat center center;
    background-size:cover;
    .container {
      .main-title-1 {
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-350px;
        transform: translateX(-50%);
        color:#fff;
      }
    }
    .guide-box {
      display:flex;
      width:1200px;
      height:373px;
      margin:0 auto;
      .use-time {
        flex:1;
        display:flex;
        width:100%;
        padding:57px 0 0 45px;
        color:#313131;
        background:#fff;
        .tit {
          position:relative;
          width:202px;
          padding-top:10px;
          font-size:rem(30);
          font-weight:700;
          &:before {
            content:'';
            display:block;
            position:absolute;
            top:0;
            left:0;
            width:50px;
            height:5px;
            background-color:#2cb9ff;
          }
          span {
            display:block;
            margin-top:10px;
            font-size:rem(14);
            font-weight:400;
            line-height:1.5;
          }
        }
        .time-list {
          flex:1;
          height:257px;
          padding-left:54px;
          border-left:1px solid #eaeaea;
          li {
            margin-bottom:12px;
            font-size:rem(18);
            font-weight:100;
            line-height:1.3;
            span {
              display:inline-block;
              width:84px;
              font-weight:700;
              word-spacing:4px;
            }
            &.lunch {
              color:#2487b9;
            }
          }
          p {
            color:#006a9f;
            font-size:rem(15);
            font-weight:100;
            letter-spacing: -1px;
          }
        }
      }
      .image {
        width:50%;
        height:100%;
        background:url("../images/main_img01.jpg") no-repeat center center;
        background-size:cover;
      }
    }
    
  }

  // location
  [data-section-name='location'] {
    .main-loca {
      display:flex;
      width:100%;
      padding:0 50px 0 50px;
      .info {
        flex:1;
        .main-title-1 {
          text-align: left;
        }
        ul {
          padding:20px 0 0 0;
          li {
            position:relative;
            margin-top:40px;
            padding-left:30px;
            .icon {
              position:absolute;
              top:2px;
              left:0;
            }
            .text01 {
              color:#181818;
              font-size:rem(22);
              font-weight:700;
              line-height:1.2;
            }
            .text02 {
              margin-top:30px;
              color:#696969;
              font-size:rem(16);
              line-height:1.2;
              span {
                position:relative;
                margin-right:3px;
                padding-right:8px;
                color:#313131;
                font-weight:700;
                &:after {
                  content:'';
                  display:block;
                  position:absolute;
                  top:50%;
                  right:0;
                  width:1px;
                  height:17px;
                  background-color:#696969;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
      .map {
        width:668px;
      }
    }
    
  }

  // mobile
  @include mediaQuery($deviceSmall){
    margin:-52px 0 -60px;
    .container {
      height:100%;
      padding-top:52px;
    }
    .main-title-1 {
      font-size:rem(30);
      letter-spacing: 0;
      span {
        margin-bottom:3px;
        font-size:rem(8);
        letter-spacing: 1px;
      }
    }

    .text-box {
      display:flex;
      flex-flow:column;
      justify-content: center;
      height:100%;
    }

    // intro
    [data-section-name='intro'] {
      background-image:url("../images/main_m_bg01.jpg");
      .text-box {
        padding-bottom:50%;
        text-align:center;
        .text01 {
          font-size:rem(26);
        }
        .text02 {
          margin-top:10px;
          padding:0 12%;
          font-size:rem(11);
          br {
            display:none;
          }
          strong {
            text-decoration: none;
          }
        }
        .tel {
          margin-top:20px;
          a {
            width:180px;
            height:44px;
            line-height:44px;
            padding:0 0 0 33px;
            font-size:rem(13);
            background-position-x:9px;
            background-size:17px auto;
            text-align:left;
            strong {
              margin-left:1px;
              padding-left:5px;
              &:before {
                height:10px;
              }
            }
          }
        }
      }
      .arrow {
        display:none;
      }
    }

    // subject
    [data-section-name='subject'] {
      .container {
        .main-title-1 {
          position: static;
          margin-top:0;
          transform: translate(0);
        }
      }

      .subject-guide {
        flex-wrap:wrap;
        height:auto;
        padding:20px 13px 0 13px;
        border:none;
        > li {
          flex:inherit;
          width:50%;
          height:auto;
          padding:25px 0;
          border-left:none;
          border-right:1px solid #ebebeb;
          border-bottom:1px solid #ebebeb;
          &:nth-child(2) {
            border-right:none;
          }
          &:nth-child(3) {
            border-bottom:none;
          }
          .image {
            img {
              width:55px;
            }
          }
          .tit {
            margin-top:8px;
            font-size:rem(10);
          }
          ul {
            height:74px;
            margin-top:6px;
            text-align:center;
            li {
              font-size:rem(9);
              line-height:1.4;
            }
          }
          .more {
            a {
              padding-left:11px;
              font-size:rem(8);
              background-size:8px auto;
            }
          }
        }
      }
    }

    // infra
    [data-section-name='infra'] {
      background-image:url("../images/main_m_bg02.jpg");
      .container {
        .main-title-1 {
          position: static;
          margin-top:0;
          transform: translate(0);
        }
      }
      .text-box {
        align-items: center;
      }
      .text01 {
        margin-top:10px;
        color:#fff;
        font-size:rem(10);
        font-weight:500;
        text-align:center;
        &.type02 {
          margin-top:32px;
        }
      }
      .guide-box {
        width:100%;
        height:184px;
        margin-top:35px;
        padding:0 25px;
        .use-time {
          flex:1;
          display:flex;
          width:100%;
          padding:25px 0 0 0;
          .tit {
            display:none;
          }
          .time-list {
            height:auto;
            padding-left:7%;
            border-left:none;
            li {
              margin-bottom:6px;
              font-size:rem(9);
              span {
                width:42px;
                word-spacing: 2px;
              }
            }
            p {
              font-size:rem(8);
              letter-spacing: -2px;
            }
          }
        }
        .image {
          background-image:url("../images/main_m_img01.jpg");
        }
      }
      
    }

    // location
    [data-section-name='location'] {
      .main-loca {
        flex-flow:column;
        padding:0 13px 0 13px;
        .info {
          .main-title-1 {
            text-align: center;
          }
          ul {
            padding:12px 0 0 0;
            text-align:center;
            li {
              margin-top:8px;
              padding:0 15%;
              line-height:0.8;
              .icon {
                position: static;
                vertical-align: middle;
                img {
                  height:12px;
                  margin-top:-4px;
                  vertical-align: middle;
                }
              }
              .text01 {
                display:inline;
                font-size:rem(11);
                vertical-align: middle;
                br {
                  display:none;
                }
              }
              .text02 {
                margin-top:5px;
                font-size:rem(9);
                span {
                  margin-right:1px;
                  padding-right:4px;
                  &:after {
                    margin-top:1px;
                    height:9px;
                  }
                }
              }
            }
          }
        }
        .map {
          width:100%;
          margin-top:20px;
          img {
            width:100%;
          }
        }
      }
      
    }
  }

}